
:root {
  --light-grey: #f8fbf6;
  --brown: #ae7b5b;
  --black: #000000;
}

/* fix scrolling to sections on devices with fixed navbar */
@media(min-width: 992px) {
  html {
    scroll-padding-top: 89px;
  }
}

body {
  font-family: 'Merriweather', serif;
}

.banner-row {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/Man-getting-haircut.png");
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  overflow-x: hidden;
}

.banner-row h1 {
  opacity: 0;
  transform: translateX(-2000px);
}

@media(min-width:993px){
  .banner-row h1{
    font-size: 60px;
  }
}

/* about row */
.about-row {
  background-color: var(--light-grey);
  overflow-x: hidden;
}

.about-row h4 {
  color: var(--brown);
}

/* pricing row */
.pricing-row {
  background-color: var(--light-grey);
  overflow-x: hidden;
}

.pricing-row h4 {
  color: var(--brown);
}

.pricing-row .pricing-separator {
  border-bottom: 2px dotted var(--black);
}

/* gallery row */
.gallery-row h4 {
  color: var(--brown);
}

/* testimonials row */
.testimonials-row {
  background-image: url("../images/Barber-shaving-blade.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* get in touch row */
.get-in-touch-row {
  overflow-x: hidden;
}

.get-in-touch-row h4 {
  color: var(--brown);
}
