
:root {
  --light-grey: #f8fbf6;
  --brown: #ae7b5b;
}

/* fix scrolling to sections on devices with fixed navbar */
@media(min-width: 992px) {
    html {
        scroll-padding-top: 89px;
    }
}

body {
  font-family: 'Merriweather', serif;
}

.banner-row {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/Man-getting-haircut.png");
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

@media(min-width:993px){
  .banner-row h1{
    font-size: 60px;
  }
}


/* about row */
.about-row {
  background-color: var(--light-grey);
}

.about-row h4 {
  color: var(--brown);
}


/* gallery row */
.gallery-row h4 {
  color: var(--brown);
}
